<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=SQL5040.site4now.net;Initial Catalog=DB_A3E1A3_arod1979;User Id=DB_A3E1A3_arod1979_admin;Password=A1l0l5a4;" providerName="System.Data.SqlClient" />
    <add name="EmailConnection" connectionString="Data Source=SQL5039.site4now.net;Initial Catalog=DB_A3E1A3_email;User Id=DB_A3E1A3_email_admin;Password=A1l0l5a4;" providerName="System.Data.SqlClient" />
  <add name="EmailModel" connectionString="data source=sql5039.site4now.net;persist security info=True;user id=DB_A3E1A3_email_admin;password=A1l0l5a4;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="servername" value="http://localhost:55645" />
    <add key="emailpassword" value="passWord321$" />
    <add key="emailport" value="587" />
    <add key="emailserver" value="smtp.gmail.com" />
    <add key="email" value="admin@awolr.com" />
    <add key="loggerpath" value="/logs.txt" />
  </appSettings>
</configuration>